<div class="container mt-4">
  <h2>Lista de Fornecedores</h2>
  <div class="card shadow-sm p-4 mt-4">

    <div class="row mb-3">
      <div class="col-md-6">
        <input type="text" class="form-control" placeholder="Filtrar por Nome Fantasia" [(ngModel)]="filtroNome"
          (input)="filtrarFornecedor()" />
      </div>
      <div class="col-md-6">
        <input type="text" class="form-control" placeholder="Filtrar por CNPJ" [(ngModel)]="filtroCnpj"
          (input)="filtrarFornecedor()" />
      </div>
    </div>

    <table class="table table-hover mt-3">
      <thead>
        <tr>
          <th>Nome</th>
          <th>Documento</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let fornecedor of fornecedoresFiltrados" (click)="verFornecedor(fornecedor)">
          <td>{{ fornecedor.nome }}</td>
          <td>{{ fornecedor.documento | cpfCnpj }}</td>
          <td>
            <button class="btn btn-outline-primary btn-sm" (click)="abrirModalEditar(fornecedor, $event)">
              <i class="bi bi-pencil"></i>
            </button>
            <button class="btn btn-outline-danger btn-sm ms-2" (click)="excluirFornecedor(fornecedor, $event)">
              <i class="bi bi-trash"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>


<app-modal #modal titulo="Editar Fornecedor">
  <form [formGroup]="fornecedorForm">
    <label>Nome</label>
    <input type="text" formControlName="nome" class="form-control">

    <label>Email</label>
    <input type="email" formControlName="email" class="form-control">

    <button type="submit" class="btn btn-primary" (click)="atualizarFornecedor()">Salvar</button>
  </form>
</app-modal>